* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

.hero {
  height: 100vh;
  background: #ddbc37;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  margin: 10px 0;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: white;
  color: #2563eb;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.gray {
  background: #f3f4f6;
}

.section h2 {
  margin-bottom: 20px;
}

.skills span {
  display: inline-block;
  background: #ebe125;
  color: white;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
}

ul {
  list-style: none;
}

ul li {
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: white;
}